.menu{
   max-width:700px;
   width:100%;
}

.menu__list{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.menu__item{
    &:hover{
        color:$blue;
    }
}


.menu--header{
      @include tablets{
       display:none;
   } 
}