-
    let myData = [
        {
            key:'Проживаю:',
            value:'Петропавловск-Камчатский'
        },
        {
            key:'Возраст:',
            value:'26 лет'
        },
        {
            key:'Родился:',
            value:'25 сентября 1992'
        }
    ]
<<<<<<< HEAD
section.about-me.fullscreen-section
=======
section#about-me.about-me.fullscreen-section
>>>>>>> 6b02373b03ee75a070f382bb4eaacd42f109beab
    .container.about-me__container
        .about-me__hero
            .about-me__avatar
                +image('content/user.jpg', 'about-me__pic')
            ul.about-me__data
            each item in myData
                li.about-me__item
                    .about-me__key= item.key
                    .about-me__value= item.value
        .about-me__content
            .about-me__welcome Привет,меня зовут
            .about-me__name Бульба Константин
            .about-me__text
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about-me__ps
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!