-
    let myData = [
        {
            key:'Проживаю:',
            value:'Петропавловск-Камчатский'
        },
        {
            key:'Возраст:',
            value:'26 лет'
        },
        {
            key:'Родился:',
            value:'25 сентября 1992'
        }
    ]

.about-me__content
    .about-me__left_col
        .avatar
            +image('content/user.jpg', 'avatar__pic')
        ul.my_data
            each item in myData
                li.my_data__item
                    .key= item.key
                    .value= item.value
    .about-me__right_col
       .hello Привет,меня зовут
       
       span Бульба Константин

       p.about-me__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
       p.about-me__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!