mixin menu(mod)  
  nav(class='menu menu--' +mod)
    ul(class='menu__list menu__list--' +mod)
      - var items = [{key:'Главная', value:'#'}, {key:'Обо мне', value:'#'}, {key:'Навыки', value:'#'}, {key:'Работы', value:'#'}, {key:'Отзывы', value:'#'}, {key:'Связаться', value:'#'}]
      each item in items
        li(class='menu__item menu__item--' +mod)
          a(class='menu__link' href=`${item.value}`)= item.key
