<<<<<<< HEAD
section.myworks.fullscreen-section
    .container.myworks__container
        h2.myworks__title Мои работы
=======
section#myworks.myworks.fullscreen-section
    .container.myworks__container
        h2.myworks__title Мои работы
        #slider_container
>>>>>>> 6b02373b03ee75a070f382bb4eaacd42f109beab
        include slider