<<<<<<< HEAD
.paralax_rock__layer(data-speed="0.1")
    +image('content/paralax/rockfest/1.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.19")
    +image('content/paralax/rockfest/2.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.22")
    +image('content/paralax/rockfest/smoke_1.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.27")
    +image('content/paralax/rockfest/3.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.35")
    +image('content/paralax/rockfest/smoke_2.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.42")
    +image('content/paralax/rockfest/4.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.53")
    +image('content/paralax/rockfest/5.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.64")
    +image('content/paralax/rockfest/sparks.png','paralax_rock__image')
.paralax_rock__layer(data-speed="0.7")
    +image('content/paralax/rockfest/smoke_3.png','paralax_rock__image')

=======
ul.paralax_rock_list
    li.paralax_rock__item.paralax_rock__item--1(data-speed="0.1")
    li.paralax_rock__item.paralax_rock__item--2(data-speed="0.2")
    li.paralax_rock__item.paralax_rock__item--3(data-speed="0.25")
    li.paralax_rock__item.paralax_rock__item--4(data-speed="0.31")
    li.paralax_rock__item.paralax_rock__item--5(data-speed="0.37")
    li.paralax_rock__item.paralax_rock__item--6(data-speed="0.41")
    li.paralax_rock__item.paralax_rock__item--7(data-speed="0.31")
    li.paralax_rock__item.paralax_rock__item--8(data-speed="0.12")
    li.paralax_rock__item.paralax_rock__item--9(data-speed="0.1")
>>>>>>> 6b02373b03ee75a070f382bb4eaacd42f109beab


