.paralax_mus__layer(data-speed="0.1")
    +image('content/paralax/mus/mus_back.png','paralax_mus__image')
.paralax_mus__layer(data-speed="0.2")
    +image('content/paralax/mus/mus_smoke.png','paralax_mus__image')
.paralax_mus__layer(data-speed="0.3")
    +image('content/paralax/mus/bong.png','paralax_mus__image')
.paralax_mus__layer(data-speed="0.4")
    +image('content/paralax/mus/man.png','paralax_mus__image')