ul.paralax_mus_list
    li.paralax_mus__item.paralax_mus__item--1(data-speed="0.1")
    li.paralax_mus__item.paralax_mus__item--2(data-speed="0.15")
    li.paralax_mus__item.paralax_mus__item--3(data-speed="0.2")
<<<<<<< HEAD
    li.paralax_mus__item.paralax_mus__item--4(data-speed="0.3")
=======
    li.paralax_mus__item.paralax_mus__item--4(data-speed="0.3")
>>>>>>> 6b02373b03ee75a070f382bb4eaacd42f109beab
