ul.paralax_rock_list
    li.paralax_rock__item.paralax_rock__item--1(data-speed="0.1")
    li.paralax_rock__item.paralax_rock__item--2(data-speed="0.2")
    li.paralax_rock__item.paralax_rock__item--3(data-speed="0.25")
    li.paralax_rock__item.paralax_rock__item--4(data-speed="0.31")
    li.paralax_rock__item.paralax_rock__item--5(data-speed="0.37")
    li.paralax_rock__item.paralax_rock__item--6(data-speed="0.41")
    li.paralax_rock__item.paralax_rock__item--7(data-speed="0.31")
    li.paralax_rock__item.paralax_rock__item--8(data-speed="0.12")
    li.paralax_rock__item.paralax_rock__item--9(data-speed="0.1")


