-
    var rewiews = [
        {
            text:'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
            pic:'content/rewiews-1.png',
            name:'Ковальчук Дмитрий',
            about:'Основатель Loftschool'
        },
        {
            text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
            pic:'content/rewiews-1.png',
            name:'Владимир сабанцев',
            about:'Преподователь'
        }
    ]

section.rewiews
    .container.rewiews__container
        .rewiews__head
            h2.rewiews__title Что обо мне говорят
            .rewiews__controls
                button(class="rewiews__arrow rewiews__prev")
                button(class="rewiews__arrow rewiews__next")
        .rewiews__slider
            ul.rewiews__slider_list
                each item in rewiews
                    li.rewiews__slider_item
                        p.rewiwes__slider_text= item.text
                        .rewiews__slider_author
                            .rewiews__slider_img
                                +image(`${item.pic}`, 'rewiews__slider_pic')
                            .rewiews__slider_description      
                                .rewiews__slider_name= item.name
                                .rewiews__slider_about= item.about

