.rewiews__head
    h2.rewiews__title Что обо мне говорят
    .rewiews__controls
        a(class="rewiews__arrow rewiews__arrow_left")
        a(class="rewiews__arrow rewiews__arrow_right")
.rewiews__slider
    ul.rewiews__slider_list
        li.rewiews__slider_item
            p.rewiwes__slider_text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .rewiews__slider__author
                .rewiews__slider_left-col
                    .slider__author_img
                        +image('content/rewiews-1.png', 'author__img_pic')
                .rewiews__slider_right-col          
                    .slider__author_name Ковальчук Дмитрий
                    .slider__author_about Основатель Loftschool
        li.rewiews__slider_item
            p.rewiwes__slider_text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            .rewiews__slider__author
                .rewiews__slider_left-col
                    .slider__author_img
                        +image('content/rewiews-1.png', 'author__img_pic') 
                .rewiews__slider_right-col          
                    .slider__author_name Владимир Сабанцев
                    .slider__author_about Преподователь
