.skills__text
    h3.skills__title Чем я могу быть вам полезен
    p.skills__text_description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

.circle_wrapper
    h4.graphic__title frontend
    ul.graphic__list
            +circle('HTML5', '25')
            +circle('CSS3', '15')
            +circle('Javascript', '75')
            +circle('Jquery и Vue.js', '25')
    h4.graphic__title Workflow
    ul.graphic__list
            +circle('GIT', '15')
            +circle('Terminal', '25')
            +circle('Gulp', '50')
            +circle('Webpack', '40')



