

script(type="text/x-template")#slider
    .slider
        display(
            :works="works"
            :currentWork="currentWork"
            @slide="clickSlide"
        )                
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider_display
    .slider__img.slider_block
        .slider__img_content
            slides(
                :currentWork="currentWork"
            )
            controls(
                :works="works"
                :currentWork="currentWork"
                @slide="direction => $emit('slide', direction)"
            )

script(type="text/x-template")#slider_main
    .slider__pic_container
        img(:src="currentWork.photo").slider__pic

script(type="text/x-template")#slider_controls
    div.slider__controls
        .slider__wrapper
            ul(class='slider__controls_list' ref="list")
                li(class='slider__controls_item' v-for="(work, index) in works" :class="{slider__controls_item_active: work.id === activeSlide, slider__controls_item_first_visible: work.id === firstSlide}")
                    img(:src="work.photo" alt="").slider__controls_pic
            btns(
                :works="works"
                @slide="direction => $emit('slide', direction)"
                @secondSlide='handleSlide'
            )


script(type="text/x-template")#slider_btns
    .slider__buttons
        button(@click="$emit('slide', 'next'), secondSlide('next')" type="button" class="slider__button slider__next" :class="{slider__button_active: this.$parent.activeSlide < works.length}")
        button(@click="$emit('slide', 'prev'), secondSlide('prev')" type="button" class="slider__button slider__prev" :class="{slider__button_active: this.$parent.activeSlide > 1}")

script(type="text/x-template")#slider_info
    .slider__description.slider_block
        tags(
            :tags="tagsArray"
        )
        .slider__description_title {{currentWork.title}}
        .slider__description_text
            p {{currentWork.desc}}
        a.slider__description_link(:href="currentWork.link") Посмотреть сайт

script(type="text/x-template")#slider_tags
    nav.slider__description_nav
        ul.slider__description_list
            li.slider__description_item(v-for="tag in tags")
                a.slider__description_anchor {{tag}}
