section#welcome
    .container.welcome__container
        include header
        .welcome__author
            span.welcome__description Личный сайт<br>веб разработчика
            .welcome__my_name Константин<br>Бульба
        a.scroll(href="#") Скролл