include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .rockfest_bg
          .paralax_rock
            include ./sections/paralax_rock
          include ./sections/welcome
          include ./sections/about-me
        include ./sections/skills
        include ./sections/myworks
        .musician_bg
          .paralax_mus
            include ./sections/paralax_mus
          include ./sections/rewiews
          include ./sections/contacts
        include ./sections/footer
    include ./sections/popup

//- include ./templates/entry



            
            




